body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #5aacd3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color: #91e4c8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    width: 100%;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.result-container {
    background-color: #d69cf1;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.result h2 {
    margin: 0 0 10px;
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.result-item h3 {
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
}

.result-item p {
    margin: 0;
}

